Include /etc/ssh/sshd_config.d/*.conf

# Logging
SyslogFacility AUTH
LogLevel VERBOSE

# Authentication
MaxAuthTries 3
MaxSessions 2
PubkeyAuthentication yes
AuthorizedKeysCommand /etc/ldap/ssh-getkey-ldap.sh
AuthorizedKeysCommandUser nobody

# Password authentication settings
PasswordAuthentication no
ChallengeResponseAuthentication no
UsePAM yes

# Security settings
AllowAgentForwarding no
AllowTcpForwarding no
X11Forwarding no
PrintMotd no
TCPKeepAlive no
Compression no
ClientAliveCountMax 2

# Environment
AcceptEnv LANG LC_*

# SFTP Subsystem
Subsystem sftp /usr/lib/openssh/sftp-server